In [76]:
from pyspark.sql import SparkSession as ps
import pyspark.sql.functions as f

In [46]:
spark = ps.builder.getOrCreate()

In [54]:
df = spark.read.csv("./DisneylandReviews.csv")
df.show()

+---------+------+----------+--------------------+--------------------+-------------------+
|      _c0|   _c1|       _c2|                 _c3|                 _c4|                _c5|
+---------+------+----------+--------------------+--------------------+-------------------+
|Review_ID|Rating|Year_Month|   Reviewer_Location|         Review_Text|             Branch|
|670772142|     4|    2019-4|           Australia|If you've ever be...|Disneyland_HongKong|
|670682799|     4|    2019-5|         Philippines|Its been a while ...|Disneyland_HongKong|
|670623270|     4|    2019-4|United Arab Emirates|Thanks God it was...|Disneyland_HongKong|
|670607911|     4|    2019-4|           Australia|HK Disneyland is ...|Disneyland_HongKong|
|670607296|     4|    2019-4|      United Kingdom|the location is n...|Disneyland_HongKong|
|670591897|     3|    2019-4|           Singapore|Have been to Disn...|Disneyland_HongKong|
|670585330|     5|    2019-4|               India|Great place! Your...|Disneyland_HongKong|
|670574142|     3|    2019-3|            Malaysia|Think of it as an...|Disneyland_HongKong|
|670571027|     2|    2019-4|           Australia|Feel so let down ...|Disneyland_HongKong|
|670570869|     5|    2019-3|               India|I can go on talki...|Disneyland_HongKong|
|670443403|     5|    2019-4|       United States|Disneyland never ...|Disneyland_HongKong|
|670435886|     5|    2019-4|              Canada|We spent the day ...|Disneyland_HongKong|
|670376905|     4|    2019-4|           Australia|We spend two days...|Disneyland_HongKong|
|670324965|     5|    2019-4|         Philippines|It was indeed the...|Disneyland_HongKong|
|670274554|     5|    2018-9|           Australia|This place is HUG...|Disneyland_HongKong|
|670205135|     3|    2019-1|      United Kingdom|We brought ticket...|Disneyland_HongKong|
|670199487|     4|    2019-4|     Myanmar (Burma)|Its huge , not en...|Disneyland_HongKong|
|670129921|     3|    2019-4|      United Kingdom|Around   60 per p...|Disneyland_HongKong|
|670099231|     4|    2019-4|           Australia|It   s Disneyland...|Disneyland_HongKong|
+---------+------+----------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [55]:
df_new = df.withColumnRenamed('_c0', 'Review_ID'
                              ).withColumnRenamed('_c1', 'Rating'
                              ).withColumnRenamed('_c2', 'Year_Month'
                              ).withColumnRenamed('_c3', 'Reviewer_Location'
                              ).withColumnRenamed('_c4', 'Review_Text'
                              ).withColumnRenamed('_c5', 'Branch')
df_new.show()

+---------+------+----------+--------------------+--------------------+-------------------+
|Review_ID|Rating|Year_Month|   Reviewer_Location|         Review_Text|             Branch|
+---------+------+----------+--------------------+--------------------+-------------------+
|Review_ID|Rating|Year_Month|   Reviewer_Location|         Review_Text|             Branch|
|670772142|     4|    2019-4|           Australia|If you've ever be...|Disneyland_HongKong|
|670682799|     4|    2019-5|         Philippines|Its been a while ...|Disneyland_HongKong|
|670623270|     4|    2019-4|United Arab Emirates|Thanks God it was...|Disneyland_HongKong|
|670607911|     4|    2019-4|           Australia|HK Disneyland is ...|Disneyland_HongKong|
|670607296|     4|    2019-4|      United Kingdom|the location is n...|Disneyland_HongKong|
|670591897|     3|    2019-4|           Singapore|Have been to Disn...|Disneyland_HongKong|
|670585330|     5|    2019-4|               India|Great place! Your...|Disneyland_HongKong|
|670574142|     3|    2019-3|            Malaysia|Think of it as an...|Disneyland_HongKong|
|670571027|     2|    2019-4|           Australia|Feel so let down ...|Disneyland_HongKong|
|670570869|     5|    2019-3|               India|I can go on talki...|Disneyland_HongKong|
|670443403|     5|    2019-4|       United States|Disneyland never ...|Disneyland_HongKong|
|670435886|     5|    2019-4|              Canada|We spent the day ...|Disneyland_HongKong|
|670376905|     4|    2019-4|           Australia|We spend two days...|Disneyland_HongKong|
|670324965|     5|    2019-4|         Philippines|It was indeed the...|Disneyland_HongKong|
|670274554|     5|    2018-9|           Australia|This place is HUG...|Disneyland_HongKong|
|670205135|     3|    2019-1|      United Kingdom|We brought ticket...|Disneyland_HongKong|
|670199487|     4|    2019-4|     Myanmar (Burma)|Its huge , not en...|Disneyland_HongKong|
|670129921|     3|    2019-4|      United Kingdom|Around   60 per p...|Disneyland_HongKong|
|670099231|     4|    2019-4|           Australia|It   s Disneyland...|Disneyland_HongKong|
+---------+------+----------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [56]:
row = df_new.where(df_new.Review_ID == 'Review_ID')
row.show()

+---------+------+----------+-----------------+-----------+------+
|Review_ID|Rating|Year_Month|Reviewer_Location|Review_Text|Branch|
+---------+------+----------+-----------------+-----------+------+
|Review_ID|Rating|Year_Month|Reviewer_Location|Review_Text|Branch|
+---------+------+----------+-----------------+-----------+------+

In [66]:
df_new = df_new.filter(df_new.Review_ID >= 0)
df_new.show()

+---------+------+----------+--------------------+--------------------+-------------------+
|Review_ID|Rating|Year_Month|   Reviewer_Location|         Review_Text|             Branch|
+---------+------+----------+--------------------+--------------------+-------------------+
|670772142|     4|    2019-4|           Australia|If you've ever be...|Disneyland_HongKong|
|670682799|     4|    2019-5|         Philippines|Its been a while ...|Disneyland_HongKong|
|670623270|     4|    2019-4|United Arab Emirates|Thanks God it was...|Disneyland_HongKong|
|670607911|     4|    2019-4|           Australia|HK Disneyland is ...|Disneyland_HongKong|
|670607296|     4|    2019-4|      United Kingdom|the location is n...|Disneyland_HongKong|
|670591897|     3|    2019-4|           Singapore|Have been to Disn...|Disneyland_HongKong|
|670585330|     5|    2019-4|               India|Great place! Your...|Disneyland_HongKong|
|670574142|     3|    2019-3|            Malaysia|Think of it as an...|Disneyland_HongKong|
|670571027|     2|    2019-4|           Australia|Feel so let down ...|Disneyland_HongKong|
|670570869|     5|    2019-3|               India|I can go on talki...|Disneyland_HongKong|
|670443403|     5|    2019-4|       United States|Disneyland never ...|Disneyland_HongKong|
|670435886|     5|    2019-4|              Canada|We spent the day ...|Disneyland_HongKong|
|670376905|     4|    2019-4|           Australia|We spend two days...|Disneyland_HongKong|
|670324965|     5|    2019-4|         Philippines|It was indeed the...|Disneyland_HongKong|
|670274554|     5|    2018-9|           Australia|This place is HUG...|Disneyland_HongKong|
|670205135|     3|    2019-1|      United Kingdom|We brought ticket...|Disneyland_HongKong|
|670199487|     4|    2019-4|     Myanmar (Burma)|Its huge , not en...|Disneyland_HongKong|
|670129921|     3|    2019-4|      United Kingdom|Around   60 per p...|Disneyland_HongKong|
|670099231|     4|    2019-4|           Australia|It   s Disneyland...|Disneyland_HongKong|
|670033848|     5|   2018-11|           Hong Kong|There is nothing ...|Disneyland_HongKong|
+---------+------+----------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [69]:
df_new.select(f.avg(df_new.Rating)).show()

+-----------------+
|      avg(Rating)|
+-----------------+
|4.217695048762191|
+-----------------+

In [70]:
df_new.select(f.max(df_new.Year_Month)).show()
df_new.select(f.min(df_new.Year_Month)).show()

+---------------+
|max(Year_Month)|
+---------------+
|        missing|
+---------------+

+---------------+
|min(Year_Month)|
+---------------+
|        2010-10|
+---------------+

In [61]:
df_new.groupBy('Rating').count().collect()

[Row(Rating='3', count=5109),
 Row(Rating='5', count=23146),
 Row(Rating='1', count=1499),
 Row(Rating='4', count=10775),
 Row(Rating='2', count=2127)]

In [79]:
pd_df = df_new.toPandas()
pd_df

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
...,...,...,...,...,...,...
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [83]:
df_new.write.csv('./test.csv')